In [14]:
#import libraries and raw airlines industry data for india
import pandas as pd
data = pd.read_excel('ind_airlines.xlsx')
data.to_csv()
data.head()

,Date,spice_close,spice_volume,jet_close,jet_volume,interglobe_close,interglobe_volume,global_close,global_volume
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14-05-2020,43.55,817854.0,20.70,20078.0,971.90,59646.0,46.45,920.0
2,13-05-2020,45.05,201826.0,21.30,67241.0,1004.80,100518.0,48.25,972.0
3,2020-12-05 00:00:00,42.95,1662068.0,20.35,44153.0,1006.85,317276.0,46.70,452.0
4,2020-11-05 00:00:00,40.95,1623622.0,21.30,41544.0,961.35,126075.0,47.50,488.0

In [15]:
#drop the first unused row and reset the index
data = data.drop(data.index[[0]])
data = data.reset_index()
data = data.drop('index',1)
data.rename(columns={'Date':'date'},inplace=True)
data.head()

,date,spice_close,spice_volume,jet_close,jet_volume,interglobe_close,interglobe_volume,global_close,global_volume
0,14-05-2020,43.55,817854.0,20.70,20078.0,971.90,59646.0,46.45,920.0
1,13-05-2020,45.05,201826.0,21.30,67241.0,1004.80,100518.0,48.25,972.0
2,2020-12-05 00:00:00,42.95,1662068.0,20.35,44153.0,1006.85,317276.0,46.70,452.0
3,2020-11-05 00:00:00,40.95,1623622.0,21.30,41544.0,961.35,126075.0,47.50,488.0
4,2020-08-05 00:00:00,39.00,245070.0,20.30,44542.0,929.25,55357.0,47.35,685.0

In [16]:
data.dtypes

date                  object
spice_close          float64
spice_volume         float64
jet_close            float64
jet_volume           float64
interglobe_close     float64
interglobe_volume    float64
global_close         float64
global_volume        float64
dtype: object

In [17]:
#update the dataset till 26th May 2020
new_row = {'date':'2020-05-15','spice_close':45.70,'jet_close':20.85,'interglobe_close':983.75, 'global_close':47.55}
data = data.append(new_row,ignore_index=True)
new_row = {'date':'2020-05-18','spice_close':43.45,'jet_close':19.90,'interglobe_close':912.20, 'global_close':50.05}
data = data.append(new_row,ignore_index=True)
new_row = {'date':'2020-05-19','spice_close':41.30,'jet_close':19.0,'interglobe_close':920.35, 'global_close':47.30}
data = data.append(new_row,ignore_index=True)
new_row = {'date':'2020-05-20','spice_close':40.95,'jet_close':19.35,'interglobe_close':911.9, 'global_close':46.20}
data = data.append(new_row,ignore_index=True)
new_row = {'date':'2020-05-21','spice_close':42.95,'jet_close':20.30,'interglobe_close':978.25, 'global_close':55.40}
data = data.append(new_row,ignore_index=True)
new_row = {'date':'2020-05-22','spice_close':45.05,'jet_close':21.30,'interglobe_close':974.10, 'global_close':55.85}
data = data.append(new_row,ignore_index=True)
new_row = {'date':'2020-05-26','spice_close':44.05,'jet_close':21.80,'interglobe_close':941.0, 'global_close':50.60}
data = data.append(new_row,ignore_index=True)

In [18]:
data.fillna(0)

,date,spice_close,spice_volume,jet_close,jet_volume,interglobe_close,interglobe_volume,global_close,global_volume
0,14-05-2020,43.55,817854.0,20.70,20078.0,971.90,59646.0,46.45,920.0
1,13-05-2020,45.05,201826.0,21.30,67241.0,1004.80,100518.0,48.25,972.0
2,2020-12-05 00:00:00,42.95,1662068.0,20.35,44153.0,1006.85,317276.0,46.70,452.0
3,2020-11-05 00:00:00,40.95,1623622.0,21.30,41544.0,961.35,126075.0,47.50,488.0
4,2020-08-05 00:00:00,39.00,245070.0,20.30,44542.0,929.25,55357.0,47.35,685.0
5,2020-07-05 00:00:00,40.05,184482.0,19.35,15328.0,914.60,31624.0,45.55,2857.0
6,2020-06-05 00:00:00,39.70,272070.0,18.45,51190.0,935.70,61997.0,44.95,885.0
7,2020-05-05 00:00:00,40.60,525886.0,17.60,32690.0,951.20,198278.0,45.95,1298.0
8,2020-04-05 00:00:00,42.65,134044.0,18.50,32076.0,927.50,64738.0,48.10,2456.0
9,30-04-2020,44.85,893863.0,19.44,37121.0,994.70,204227.0,52.55,2672.0
10,29-04-2020,43.05,183749.0,20.46,16217.0,921.05,73118.0,54.25,4760.0
11,28-04-2020,43.50,205024.0,21.53,11264.0,908.85,78490.0,53.40,19818.0
12,27-04-2020,43.40,255340.0,22.66,12746.0,870.80,84857.0,52.45,11426.0
13,24-04-2020,42.60,224059.0,23.85,46411.0,891.50,82914.0,44.10,3822.0
14,23-04-2020,44.40,173812.0,25.10,13585.0,932.15,71047.0,46.20,4509.0
15,22-04-2020,44.20,253514.0,23.91,10983.0,960.40,69735.0,46.30,2442.0
16,21-04-2020,45.85,491860.0,22.78,27604.0,1010.55,73333.0,44.25,1444.0
17,20-04-2020,47.70,347885.0,21.70,15158.0,1004.50,94302.0,45.00,1777.0
18,17-04-2020,48.60,406897.0,20.67,16138.0,1069.15,89078.0,44.30,1429.0
19,16-04-2020,46.80,464204.0,19.69,2348.0,1011.10,75467.0,42.80,3178.0
20,15-04-2020,46.30,528323.0,18.76,7160.0,1010.20,106580.0,42.30,497.0
21,13-04-2020,48.70,1920611.0,17.87,18400.0,1068.25,127847.0,43.60,3071.0
22,2020-09-04 00:00:00,46.90,89957.0,17.02,13337.0,1039.35,65245.0,44.10,13835.0
23,2020-08-04 00:00:00,44.70,147081.0,16.21,12454.0,990.10,124568.0,44.80,15729.0
24,2020-07-04 00:00:00,42.60,99036.0,15.44,9007.0,980.15,76382.0,37.40,698.0
25,2020-03-04 00:00:00,40.60,316691.0,14.71,5981.0,952.30,87344.0,37.25,707.0
26,2020-01-04 00:00:00,38.70,343216.0,14.01,3687.0,999.75,42313.0,36.65,161.0
27,31-03-2020,36.90,530902.0,13.35,35283.0,1068.25,38467.0,35.05,707.0
28,30-03-2020,35.15,325824.0,13.40,23103.0,1017.15,40971.0,37.90,613.0
29,27-03-2020,37.00,767777.0,13.60,42116.0,1028.45,59282.0,37.05,1374.0
...,...,...,...,...,...,...,...,...,...
68,31-01-2020,96.45,168658.0,29.30,19231.0,1377.50,53006.0,57.25,1368.0
69,30-01-2020,96.65,239828.0,30.80,11206.0,1415.70,42784.0,58.05,944.0
70,29-01-2020,98.85,249797.0,32.40,57897.0,1462.20,56676.0,60.35,1423.0
71,28-01-2020,99.75,487819.0,34.10,261144.0,1453.25,241635.0,60.75,7536.0
72,27-01-2020,98.70,274108.0,33.45,7305.0,1492.85,48003.0,65.60,13341.0
73,24-01-2020,98.75,575752.0,35.20,5072.0,1500.95,56397.0,59.05,1566.0
74,23-01-2020,99.00,475895.0,37.05,2737.0,1466.00,20670.0,59.45,570.0
75,22-01-2020,97.85,501554.0,38.95,3166.0,1468.65,35067.0,59.35,799.0
76,21-01-2020,101.70,191723.0,41.00,6456.0,1438.05,30829.0,59.70,1623.0
77,20-01-2020,102.65,333319.0,43.15,9850.0,1470.95,14823.0,60.95,2453.0
78,17-01-2020,103.20,235130.0,45.40,13664.0,1472.60,17164.0,63.00,1527.0
79,16-01-2020,104.05,236554.0,47.75,60006.0,1456.90,56884.0,64.20,3548.0
80,15-01-2020,104.40,216007.0,50.25,130787.0,1446.55,29397.0,66.75,44661.0
81,14-01-2020,104.85,435297.0,47.90,107393.0,1422.85,19663.0,56.05,542.0
82,13-01-2020,104.15,270587.0,45.65,47150.0,1423.85,53587.0,55.85,2114.0
83,2020-10-01 00:00:00,106.15,458511.0,43.50,55599.0,1416.25,65573.0,56.65,3133.0
84,2020-09-01 00:00:00,106.30,1669067.0,41.45,47597.0,1402.30,50979.0,58.15,16274.0
85,2020-08-01 00:00:00,99.25,731640.0,39.50,35886.0,1352.70,37373.0,54.60,3092.0
86,2020-07-01 00:00:00,101.50,615692.0,37.65,31619.0,1364.60,39627.0,51.30,547.0
87,2020-06-01 00:00:00,105.00,831808.0,35.90,102086.0,1326.65,58796.0,51.75,813.0
88,2020-03-01 00:00:00,106.15,915915.0,34.20,444851.0,1360.95,174887.0,54.25,178.0
89,2020-02-01 00:00:00,113.90,518330.0,32.60,72317.0,1332.90,16561.0,53.55,1540.0
90,2020-01-01 00:00:00,116.40,1599743.0,31.05,20241.0,1333.80,17350.0,53.50,1729.0
91,2020-05-15,45.70,0.0,20.85,0.0,983.75,0.0,47.55,0.0
92,2020-05-18,43.45,0.0,19.90,0.0,912.20,0.0,50.05,0.0
93,2020-05-19,41.30,0.0,19.00,0.0,920.35,0.0,47.30,0.0
94,2020-05-20,40.95,0.0,19.35,0.0,911.90,0.0,46.20,0.0
95,2020-05-21,42.95,0.0,20.30,0.0,978.25,0.0,55.40,0.0
96,2020-05-22,45.05,0.0,21.30,0.0,974.10,0.0,55.85,0.0
97,2020-05-26,44.05,0.0,21.80,0.0,941.00,0.0,50.60,0.0

In [19]:
#change the date to required format step 1
data['date'] = data['date'].astype('datetime64[ns]')
data['date'] = data['date'].dt.strftime('%d-%m-%Y')
data['date'].unique()

array(['14-05-2020', '13-05-2020', '05-12-2020', '05-11-2020',
       '05-08-2020', '05-07-2020', '05-06-2020', '05-05-2020',
       '05-04-2020', '30-04-2020', '29-04-2020', '28-04-2020',
       '27-04-2020', '24-04-2020', '23-04-2020', '22-04-2020',
       '21-04-2020', '20-04-2020', '17-04-2020', '16-04-2020',
       '15-04-2020', '13-04-2020', '04-09-2020', '04-08-2020',
       '04-07-2020', '04-03-2020', '04-01-2020', '31-03-2020',
       '30-03-2020', '27-03-2020', '26-03-2020', '25-03-2020',
       '24-03-2020', '23-03-2020', '20-03-2020', '19-03-2020',
       '18-03-2020', '17-03-2020', '16-03-2020', '13-03-2020',
       '03-12-2020', '03-11-2020', '03-09-2020', '03-06-2020',
       '03-05-2020', '03-04-2020', '03-03-2020', '03-02-2020',
       '28-02-2020', '27-02-2020', '26-02-2020', '25-02-2020',
       '24-02-2020', '20-02-2020', '19-02-2020', '18-02-2020',
       '17-02-2020', '14-02-2020', '13-02-2020', '02-12-2020',
       '02-11-2020', '02-10-2020', '02-07-2020', '02-06-2020',
       '02-05-2020', '02-04-2020', '02-03-2020', '02-01-2020',
       '31-01-2020', '30-01-2020', '29-01-2020', '28-01-2020',
       '27-01-2020', '24-01-2020', '23-01-2020', '22-01-2020',
       '21-01-2020', '20-01-2020', '17-01-2020', '16-01-2020',
       '15-01-2020', '14-01-2020', '13-01-2020', '01-10-2020',
       '01-09-2020', '01-08-2020', '01-07-2020', '01-06-2020',
       '01-03-2020', '01-02-2020', '01-01-2020', '15-05-2020',
       '18-05-2020', '19-05-2020', '20-05-2020', '21-05-2020',
       '22-05-2020', '26-05-2020'], dtype=object)

In [20]:
#change the date to required format step 2
data['date'] = data['date'].astype('datetime64[ns]')
data['date'] = data['date'].dt.strftime('%Y-%m-%d')
data['date'].unique()

array(['2020-05-14', '2020-05-13', '2020-05-12', '2020-05-11',
       '2020-05-08', '2020-05-07', '2020-05-06', '2020-05-05',
       '2020-05-04', '2020-04-30', '2020-04-29', '2020-04-28',
       '2020-04-27', '2020-04-24', '2020-04-23', '2020-04-22',
       '2020-04-21', '2020-04-20', '2020-04-17', '2020-04-16',
       '2020-04-15', '2020-04-13', '2020-04-09', '2020-04-08',
       '2020-04-07', '2020-04-03', '2020-04-01', '2020-03-31',
       '2020-03-30', '2020-03-27', '2020-03-26', '2020-03-25',
       '2020-03-24', '2020-03-23', '2020-03-20', '2020-03-19',
       '2020-03-18', '2020-03-17', '2020-03-16', '2020-03-13',
       '2020-03-12', '2020-03-11', '2020-03-09', '2020-03-06',
       '2020-03-05', '2020-03-04', '2020-03-03', '2020-03-02',
       '2020-02-28', '2020-02-27', '2020-02-26', '2020-02-25',
       '2020-02-24', '2020-02-20', '2020-02-19', '2020-02-18',
       '2020-02-17', '2020-02-14', '2020-02-13', '2020-02-12',
       '2020-02-11', '2020-02-10', '2020-02-07', '2020-02-06',
       '2020-02-05', '2020-02-04', '2020-02-03', '2020-02-01',
       '2020-01-31', '2020-01-30', '2020-01-29', '2020-01-28',
       '2020-01-27', '2020-01-24', '2020-01-23', '2020-01-22',
       '2020-01-21', '2020-01-20', '2020-01-17', '2020-01-16',
       '2020-01-15', '2020-01-14', '2020-01-13', '2020-01-10',
       '2020-01-09', '2020-01-08', '2020-01-07', '2020-01-06',
       '2020-01-03', '2020-01-02', '2020-01-01', '2020-05-15',
       '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21',
       '2020-05-22', '2020-05-26'], dtype=object)

In [21]:
data.columns

Index(['date', 'spice_close', 'spice_volume', 'jet_close', 'jet_volume',
       'interglobe_close', 'interglobe_volume', 'global_close',
       'global_volume'],
      dtype='object')

In [22]:
#calculating the index
data['initial_calc_index'] = (((data['spice_close'])*(data['spice_volume'])+(data['jet_close'])*(data['jet_volume'])
                       +(data['interglobe_close'])*(data['interglobe_volume'])+
                       (data['global_close'])*(data['global_volume']))/(data['spice_volume']+data['jet_volume']
                                                                        +data['interglobe_volume']+data['global_volume']))
data['initial_calc_index'] = data['initial_calc_index'].round(2)
data['calc_index'] = (((data['spice_close'])*(600.076)+(data['jet_close'])*(113.597)+(data['interglobe_close'])*(384.796)+(data['global_close'])*(14))/(600.076+113.597+384.796+14))
data['calc_index'] = data['calc_index'].round(2)
data.head()

,date,spice_close,spice_volume,jet_close,jet_volume,interglobe_close,interglobe_volume,global_close,global_volume,initial_calc_index,calc_index
0,2020-05-14,43.55,817854.0,20.70,20078.0,971.90,59646.0,46.45,920.0,104.67,362.36
1,2020-05-13,45.05,201826.0,21.30,67241.0,1004.80,100518.0,48.25,972.0,301.09,374.64
2,2020-05-12,42.95,1662068.0,20.35,44153.0,1006.85,317276.0,46.70,452.0,193.56,374.10
3,2020-05-11,40.95,1623622.0,21.30,41544.0,961.35,126075.0,47.50,488.0,105.26,357.39
4,2020-05-08,39.00,245070.0,20.30,44542.0,929.25,55357.0,47.35,685.0,179.18,345.13

In [23]:
#save the file in csv format
data.to_csv('ind_airlines_final.csv')

In [24]:
data[['date','spice_close','jet_close','interglobe_close','global_close','calc_index']].tail(7)

,date,spice_close,jet_close,interglobe_close,global_close,calc_index
91,2020-05-15,45.70,20.85,983.75,47.55,367.65
92,2020-05-18,43.45,19.90,912.20,50.05,341.62
93,2020-05-19,41.30,19.00,920.35,47.30,343.16
94,2020-05-20,40.95,19.35,911.90,46.20,340.07
95,2020-05-21,42.95,20.30,978.25,55.40,364.31
96,2020-05-22,45.05,21.30,974.10,55.85,364.11
97,2020-05-26,44.05,21.80,941.00,50.60,352.11