In [3]:
#import libraries and raw travel industry data for india
import pandas as pd
data = pd.read_excel('ind_travel.xlsx')
data.to_csv()
data.head()

,Date,thomas_close,thomas_volume,bls_close,bls_volume,transcorp_close,transcorp_volume,cox_close,cox_volume,crown_close,crown_volume,intl_close,intl_volume
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14-05-2020,23.15,15358.0,29.85,3576.0,6.88,1304.0,1.15,115362.0,17.40,21799.0,38.9,1619.0
2,13-05-2020,23.35,21145.0,30.55,8615.0,6.96,126.0,1.21,147747.0,17.50,25245.0,40.4,1799.0
3,2020-12-05 00:00:00,23.05,14333.0,29.25,2852.0,7.29,1578.0,1.27,193819.0,17.35,25000.0,40.6,1286.0
4,2020-11-05 00:00:00,23.05,9121.0,29.65,5353.0,7.32,12785.0,1.33,652733.0,17.50,29255.0,39.3,2027.0

In [4]:
#drop the first unused row and reset the index
data = data.drop(data.index[[0]])
data = data.reset_index()
data = data.drop('index',1)
data.rename(columns={'Date':'date'},inplace=True)
data.head()

,date,thomas_close,thomas_volume,bls_close,bls_volume,transcorp_close,transcorp_volume,cox_close,cox_volume,crown_close,crown_volume,intl_close,intl_volume
0,14-05-2020,23.15,15358.0,29.85,3576.0,6.88,1304.0,1.15,115362.0,17.40,21799.0,38.9,1619.0
1,13-05-2020,23.35,21145.0,30.55,8615.0,6.96,126.0,1.21,147747.0,17.50,25245.0,40.4,1799.0
2,2020-12-05 00:00:00,23.05,14333.0,29.25,2852.0,7.29,1578.0,1.27,193819.0,17.35,25000.0,40.6,1286.0
3,2020-11-05 00:00:00,23.05,9121.0,29.65,5353.0,7.32,12785.0,1.33,652733.0,17.50,29255.0,39.3,2027.0
4,2020-08-05 00:00:00,24.25,9528.0,29.60,825.0,7.00,9210.0,1.39,80114.0,17.60,22592.0,39.5,2170.0

In [5]:
#update the dataset till 26th May 2020
new_row = {'date':'2020-05-15','thomas_close':24.30,'bls_close':29.45, 'transcorp_close':6.66,
           'cox_close':1.10, 'intl_close':38.55, 'crown_close':17.40}
data = data.append(new_row,ignore_index=True)
new_row = {'date':'2020-05-18','thomas_close':23.10,'bls_close':27.70, 'transcorp_close':6.97,
           'cox_close':1.05, 'intl_close':40.25, 'crown_close':17.65}
data = data.append(new_row,ignore_index=True)
new_row = {'date':'2020-05-19','thomas_close':22.60,'bls_close':27.35, 'transcorp_close':6.70,
           'cox_close':1, 'intl_close':41.55, 'crown_close':17}
data = data.append(new_row,ignore_index=True)
new_row = {'date':'2020-05-20','thomas_close':22.65,'bls_close':27.60, 'transcorp_close':6.94,
           'cox_close':0.95, 'intl_close':40.05, 'crown_close':17.45}
data = data.append(new_row,ignore_index=True)
new_row = {'date':'2020-05-21','thomas_close':23.55,'bls_close':28.75, 'transcorp_close':6.94,
           'cox_close':0.94, 'intl_close':41.05, 'crown_close':17.50}
data = data.append(new_row,ignore_index=True)
new_row = {'date':'2020-05-22','thomas_close':24.6,'bls_close':29.10, 'transcorp_close':6.89,
           'cox_close':0.90, 'intl_close':39.95, 'crown_close':17.45}
data = data.append(new_row,ignore_index=True)
new_row = {'date':'2020-05-26','thomas_close':25.8,'bls_close':31.25, 'transcorp_close':6.84,
           'cox_close':0.86, 'intl_close':38.70, 'crown_close':17.45}
data = data.append(new_row,ignore_index=True)

In [6]:
data.fillna(0)

,date,thomas_close,thomas_volume,bls_close,bls_volume,transcorp_close,transcorp_volume,cox_close,cox_volume,crown_close,crown_volume,intl_close,intl_volume
0,14-05-2020,23.15,15358.0,29.85,3576.0,6.88,1304.0,1.15,115362.0,17.40,21799.0,38.90,1619.0
1,13-05-2020,23.35,21145.0,30.55,8615.0,6.96,126.0,1.21,147747.0,17.50,25245.0,40.40,1799.0
2,2020-12-05 00:00:00,23.05,14333.0,29.25,2852.0,7.29,1578.0,1.27,193819.0,17.35,25000.0,40.60,1286.0
3,2020-11-05 00:00:00,23.05,9121.0,29.65,5353.0,7.32,12785.0,1.33,652733.0,17.50,29255.0,39.30,2027.0
4,2020-08-05 00:00:00,24.25,9528.0,29.60,825.0,7.00,9210.0,1.39,80114.0,17.60,22592.0,39.50,2170.0
5,2020-07-05 00:00:00,24.15,7938.0,29.55,895.0,7.06,10940.0,1.33,72711.0,17.60,20845.0,42.20,762.0
6,2020-06-05 00:00:00,24.75,15146.0,29.95,4026.0,7.09,4118.0,1.27,45153.0,17.65,19400.0,40.45,4905.0
7,2020-05-05 00:00:00,24.95,15656.0,29.65,1800.0,7.10,9420.0,1.21,126277.0,17.40,25601.0,41.95,3575.0
8,2020-04-05 00:00:00,26.00,22626.0,29.80,3518.0,7.07,1802.0,1.16,111704.0,17.35,15921.0,46.55,612.0
9,30-04-2020,27.00,37096.0,29.60,5688.0,7.09,4828.0,1.11,36709.0,17.85,16718.0,46.95,1832.0
10,29-04-2020,26.80,54315.0,29.90,4774.0,7.27,2508.0,1.06,49316.0,17.70,14970.0,47.00,781.0
11,28-04-2020,26.05,51553.0,29.60,5584.0,7.15,9027.0,1.01,26851.0,17.60,14684.0,47.00,117.0
12,27-04-2020,26.55,14275.0,29.75,3776.0,7.17,4536.0,0.97,80301.0,17.65,19235.0,47.45,1982.0
13,24-04-2020,27.90,24815.0,29.90,34082.0,7.50,5644.0,0.93,58092.0,17.55,14202.0,48.00,49.0
14,23-04-2020,29.35,194194.0,34.90,3945.0,7.88,30577.0,0.89,103454.0,17.80,14252.0,46.55,2784.0
15,22-04-2020,30.85,2821.0,34.00,4745.0,7.51,19387.0,0.85,453785.0,17.55,20508.0,47.40,1327.0
16,21-04-2020,32.45,8608.0,33.10,5837.0,8.01,21761.0,0.81,29072.0,17.10,16529.0,48.10,862.0
17,20-04-2020,34.15,23014.0,34.90,5505.0,8.80,19261.0,0.78,28117.0,17.55,10016.0,51.60,1661.0
18,17-04-2020,34.00,29712.0,34.05,5781.0,8.45,22530.0,0.75,19206.0,17.70,17358.0,53.90,722.0
19,16-04-2020,32.55,129135.0,32.35,607.0,9.18,2730.0,0.72,45617.0,17.50,16750.0,53.75,1240.0
20,15-04-2020,33.75,91443.0,32.75,6089.0,10.00,613.0,0.69,51600.0,17.60,12742.0,51.00,2386.0
21,13-04-2020,32.15,48188.0,35.80,5870.0,9.30,777.0,0.66,339593.0,17.45,14516.0,49.20,384.0
22,2020-09-04 00:00:00,30.65,9462.0,32.35,1714.0,9.30,933.0,0.64,344520.0,17.35,16817.0,49.40,2162.0
23,2020-08-04 00:00:00,29.20,5200.0,29.20,2442.0,9.28,1391.0,0.63,293026.0,17.05,16667.0,44.95,2745.0
24,2020-07-04 00:00:00,27.85,29975.0,28.80,3863.0,8.84,302.0,0.60,62761.0,17.05,16790.0,44.95,1550.0
25,2020-03-04 00:00:00,26.55,26215.0,28.30,2992.0,9.30,604.0,0.58,24303.0,17.00,9906.0,42.55,2095.0
26,2020-01-04 00:00:00,25.35,11860.0,29.80,620.0,9.20,412.0,0.56,156152.0,17.00,20325.0,42.15,1488.0
27,31-03-2020,24.15,15219.0,29.20,1239.0,9.10,220.0,0.54,182468.0,17.65,7075.0,45.30,862.0
28,30-03-2020,24.70,16096.0,29.20,11578.0,9.10,113.0,0.54,162360.0,17.25,18371.0,43.60,3396.0
29,27-03-2020,24.25,45097.0,28.90,5510.0,9.10,220.0,0.52,178309.0,17.55,17351.0,41.30,2674.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,31-01-2020,56.10,20271.0,66.10,1096.0,13.93,747.0,0.96,74600.0,18.20,29250.0,75.50,1681.0
69,30-01-2020,54.70,15022.0,66.00,2731.0,14.00,87.0,1.01,119050.0,18.20,30826.0,75.65,655.0
70,29-01-2020,56.00,5081.0,66.90,567.0,13.50,401.0,1.06,94504.0,18.50,33455.0,77.50,207.0
71,28-01-2020,57.20,7730.0,67.35,7321.0,14.10,269.0,1.11,235121.0,18.15,24812.0,75.80,746.0
72,27-01-2020,58.30,8349.0,68.80,1365.0,14.23,287.0,1.16,286374.0,18.20,24680.0,78.90,640.0
73,24-01-2020,60.25,57933.0,68.65,6423.0,14.35,305.0,1.20,119953.0,18.45,30298.0,79.05,1488.0
74,23-01-2020,59.65,3915.0,70.30,2851.0,14.00,676.0,1.17,245606.0,18.40,29338.0,77.00,256.0
75,22-01-2020,59.45,4787.0,68.35,1382.0,13.80,1316.0,1.23,204881.0,18.15,29839.0,77.55,2395.0
76,21-01-2020,59.95,16295.0,68.15,2380.0,13.62,1964.0,1.19,225107.0,18.30,30656.0,76.35,2045.0
77,20-01-2020,60.65,6199.0,68.85,2456.0,12.80,162.0,1.19,304718.0,18.30,28400.0,80.15,1686.0
78,17-01-2020,60.90,7741.0,71.05,3130.0,13.20,4661.0,1.25,211700.0,18.40,32500.0,82.80,1616.0
79,16-01-2020,61.05,17842.0,73.05,3111.0,13.21,6684.0,1.31,766764.0,18.35,25549.0,79.00,1694.0
80,15-01-2020,61.60,29740.0,70.30,867.0,14.47,6.0,1.33,530600.0,18.30,32600.0,78.90,1180.0
81,14-01-2020,58.70,16910.0,70.45,10754.0,14.19,9.0,1.40,355217.0,18.25,17900.0,82.00,1894.0
82,13-01-2020,59.90,24785.0,70.75,2327.0,14.14,2533.0,1.40,157134.0,18.20,6000.0,80.05,5764.0
83,2020-10-01 00:00:00,60.70,21521.0,71.70,7846.0,14.17,4281.0,1.43,236012.0,18.10,8081.0,76.00,927.0
84,2020-09-01 00:00:00,61.85,21797.0,70.10,803.0,14.44,1396.0,1.38,462465.0,18.10,16650.0,72.95,3819.0
85,2020-08-01 00:00:00,61.35,7652.0,69.95,1675.0,15.00,766.0,1.44,240029.0,18.05,15690.0,72.80,712.0
86,2020-07-01 00:00:00,62.30,16895.0,70.35,265931.0,14.76,2558.0,1.50,249631.0,18.05,15815.0,72.05,503.0
87,2020-06-01 00:00:00,61.00,9899.0,69.90,2331.0,14.29,2893.0,1.50,147209.0,18.00,20500.0,74.95,121.0
88,2020-03-01 00:00:00,61.45,10894.0,73.35,4937.0,14.95,2361.0,1.56,510540.0,18.25,22802.0,75.20,705.0
89,2020-02-01 00:00:00,62.55,22710.0,70.95,4046.0,14.80,661.0,1.49,451605.0,18.25,22661.0,75.30,1652.0
90,2020-01-01 00:00:00,64.30,17363.0,68.50,1661.0,15.00,1050.0,1.42,92616.0,18.15,20800.0,71.55,1141.0
91,2020-05-15,24.30,0.0,29.45,0.0,6.66,0.0,1.10,0.0,17.40,0.0,38.55,0.0
92,2020-05-18,23.10,0.0,27.70,0.0,6.97,0.0,1.05,0.0,17.65,0.0,40.25,0.0
93,2020-05-19,22.60,0.0,27.35,0.0,6.70,0.0,1.00,0.0,17.00,0.0,41.55,0.0
94,2020-05-20,22.65,0.0,27.60,0.0,6.94,0.0,0.95,0.0,17.45,0.0,40.05,0.0
95,2020-05-21,23.55,0.0,28.75,0.0,6.94,0.0,0.94,0.0,17.50,0.0,41.05,0.0
96,2020-05-22,24.60,0.0,29.10,0.0,6.89,0.0,0.90,0.0,17.45,0.0,39.95,0.0
97,2020-05-26,25.80,0.0,31.25,0.0,6.84,0.0,0.86,0.0,17.45,0.0,38.70,0.0

In [7]:
data.dtypes

date                 object
thomas_close        float64
thomas_volume       float64
bls_close           float64
bls_volume          float64
transcorp_close     float64
transcorp_volume    float64
cox_close           float64
cox_volume          float64
crown_close         float64
crown_volume        float64
intl_close          float64
intl_volume         float64
dtype: object

In [8]:
#change the date to required format step 1
data['date'] = data['date'].astype('datetime64[ns]')
data['date'] = data['date'].dt.strftime('%d-%m-%Y')
data['date'].unique()

array(['14-05-2020', '13-05-2020', '05-12-2020', '05-11-2020',
       '05-08-2020', '05-07-2020', '05-06-2020', '05-05-2020',
       '05-04-2020', '30-04-2020', '29-04-2020', '28-04-2020',
       '27-04-2020', '24-04-2020', '23-04-2020', '22-04-2020',
       '21-04-2020', '20-04-2020', '17-04-2020', '16-04-2020',
       '15-04-2020', '13-04-2020', '04-09-2020', '04-08-2020',
       '04-07-2020', '04-03-2020', '04-01-2020', '31-03-2020',
       '30-03-2020', '27-03-2020', '26-03-2020', '25-03-2020',
       '24-03-2020', '23-03-2020', '20-03-2020', '19-03-2020',
       '18-03-2020', '17-03-2020', '16-03-2020', '13-03-2020',
       '03-12-2020', '03-11-2020', '03-09-2020', '03-06-2020',
       '03-05-2020', '03-04-2020', '03-03-2020', '03-02-2020',
       '28-02-2020', '27-02-2020', '26-02-2020', '25-02-2020',
       '24-02-2020', '20-02-2020', '19-02-2020', '18-02-2020',
       '17-02-2020', '14-02-2020', '13-02-2020', '02-12-2020',
       '02-11-2020', '02-10-2020', '02-07-2020', '02-06-2020',
       '02-05-2020', '02-04-2020', '02-03-2020', '02-01-2020',
       '31-01-2020', '30-01-2020', '29-01-2020', '28-01-2020',
       '27-01-2020', '24-01-2020', '23-01-2020', '22-01-2020',
       '21-01-2020', '20-01-2020', '17-01-2020', '16-01-2020',
       '15-01-2020', '14-01-2020', '13-01-2020', '01-10-2020',
       '01-09-2020', '01-08-2020', '01-07-2020', '01-06-2020',
       '01-03-2020', '01-02-2020', '01-01-2020', '15-05-2020',
       '18-05-2020', '19-05-2020', '20-05-2020', '21-05-2020',
       '22-05-2020', '26-05-2020'], dtype=object)

In [9]:
#change the date to required format step 2
data['date'] = data['date'].astype('datetime64[ns]')
data['date'] = data['date'].dt.strftime('%Y-%m-%d')
data['date'].unique()

array(['2020-05-14', '2020-05-13', '2020-05-12', '2020-05-11',
       '2020-05-08', '2020-05-07', '2020-05-06', '2020-05-05',
       '2020-05-04', '2020-04-30', '2020-04-29', '2020-04-28',
       '2020-04-27', '2020-04-24', '2020-04-23', '2020-04-22',
       '2020-04-21', '2020-04-20', '2020-04-17', '2020-04-16',
       '2020-04-15', '2020-04-13', '2020-04-09', '2020-04-08',
       '2020-04-07', '2020-04-03', '2020-04-01', '2020-03-31',
       '2020-03-30', '2020-03-27', '2020-03-26', '2020-03-25',
       '2020-03-24', '2020-03-23', '2020-03-20', '2020-03-19',
       '2020-03-18', '2020-03-17', '2020-03-16', '2020-03-13',
       '2020-03-12', '2020-03-11', '2020-03-09', '2020-03-06',
       '2020-03-05', '2020-03-04', '2020-03-03', '2020-03-02',
       '2020-02-28', '2020-02-27', '2020-02-26', '2020-02-25',
       '2020-02-24', '2020-02-20', '2020-02-19', '2020-02-18',
       '2020-02-17', '2020-02-14', '2020-02-13', '2020-02-12',
       '2020-02-11', '2020-02-10', '2020-02-07', '2020-02-06',
       '2020-02-05', '2020-02-04', '2020-02-03', '2020-02-01',
       '2020-01-31', '2020-01-30', '2020-01-29', '2020-01-28',
       '2020-01-27', '2020-01-24', '2020-01-23', '2020-01-22',
       '2020-01-21', '2020-01-20', '2020-01-17', '2020-01-16',
       '2020-01-15', '2020-01-14', '2020-01-13', '2020-01-10',
       '2020-01-09', '2020-01-08', '2020-01-07', '2020-01-06',
       '2020-01-03', '2020-01-02', '2020-01-01', '2020-05-15',
       '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21',
       '2020-05-22', '2020-05-26'], dtype=object)

In [10]:
data.columns

Index(['date', 'thomas_close', 'thomas_volume', 'bls_close', 'bls_volume',
       'transcorp_close', 'transcorp_volume', 'cox_close', 'cox_volume',
       'crown_close', 'crown_volume', 'intl_close', 'intl_volume'],
      dtype='object')

In [11]:
#calculating the index
data['initial_calc_index'] = (((data['thomas_close'])*(data['thomas_volume'])+(data['bls_close'])*(data['bls_volume'])
                       +(data['transcorp_close'])*(data['transcorp_volume'])+(data['cox_close'])*(data['cox_volume'])
                       +(data['crown_close'])*(data['crown_volume'])+(data['intl_close'])*(data['intl_volume']))
                      /(data['thomas_volume']+data['bls_volume']+data['transcorp_volume']
                        +data['cox_volume']+data['crown_volume']+data['intl_volume']))
data['initial_calc_index'] = data['initial_calc_index'].round(2)
data['calc_index'] = (((data['thomas_close'])*(378.275)+(data['bls_close'])*(102.45)
                       +(data['transcorp_close'])*(31.783)+(data['cox_close'])*(72.855)
                       +(data['intl_close'])*(7.995))
                      /(378.275+102.45+31.783+72.855+7.995))
data['calc_index'] = data['calc_index'].round(2)
data.head()

,date,thomas_close,thomas_volume,bls_close,bls_volume,transcorp_close,transcorp_volume,cox_close,cox_volume,crown_close,crown_volume,intl_close,intl_volume,initial_calc_index,calc_index
0,2020-05-14,23.15,15358.0,29.85,3576.0,6.88,1304.0,1.15,115362.0,17.40,21799.0,38.9,1619.0,6.58,20.95
1,2020-05-13,23.35,21145.0,30.55,8615.0,6.96,126.0,1.21,147747.0,17.50,25245.0,40.4,1799.0,7.09,21.23
2,2020-05-12,23.05,14333.0,29.25,2852.0,7.29,1578.0,1.27,193819.0,17.35,25000.0,40.6,1286.0,4.85,20.84
3,2020-05-11,23.05,9121.0,29.65,5353.0,7.32,12785.0,1.33,652733.0,17.50,29255.0,39.3,2027.0,2.70,20.90
4,2020-05-08,24.25,9528.0,29.60,825.0,7.00,9210.0,1.39,80114.0,17.60,22592.0,39.5,2170.0,7.35,21.65

In [12]:
#save the file in csv format
data.to_csv('ind_travel_final.csv')

In [13]:
data.tail(7)

,date,thomas_close,thomas_volume,bls_close,bls_volume,transcorp_close,transcorp_volume,cox_close,cox_volume,crown_close,crown_volume,intl_close,intl_volume,initial_calc_index,calc_index
91,2020-05-15,24.30,NaN,29.45,NaN,6.66,NaN,1.10,NaN,17.40,NaN,38.55,NaN,NaN,21.59
92,2020-05-18,23.10,NaN,27.70,NaN,6.97,NaN,1.05,NaN,17.65,NaN,40.25,NaN,NaN,20.55
93,2020-05-19,22.60,NaN,27.35,NaN,6.70,NaN,1.00,NaN,17.00,NaN,41.55,NaN,NaN,20.17
94,2020-05-20,22.65,NaN,27.60,NaN,6.94,NaN,0.95,NaN,17.45,NaN,40.05,NaN,NaN,20.23
95,2020-05-21,23.55,NaN,28.75,NaN,6.94,NaN,0.94,NaN,17.50,NaN,41.05,NaN,NaN,21.02
96,2020-05-22,24.60,NaN,29.10,NaN,6.89,NaN,0.90,NaN,17.45,NaN,39.95,NaN,NaN,21.73
97,2020-05-26,25.80,NaN,31.25,NaN,6.84,NaN,0.86,NaN,17.45,NaN,38.70,NaN,NaN,22.84