In [1]:
#import libraries and raw food industry data for india
import pandas as pd
data = pd.read_excel('ind_food.xlsx')
data.to_csv()
data.head()

,Date,krbl_close,krbl_volume,ltfoods_close,ltfoods_volume,chaman_close,chaman_volume,himalaya_close,himalaya_volume,kohi_close,kohi_volume,klrf_close,klrf_volume
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14-05-2020,187.30,2063.0,21.00,21452.0,38.75,4141.0,7.16,64813.0,7.87,1439.0,28.8,604.0
2,13-05-2020,190.75,8936.0,21.05,37575.0,39.20,19714.0,6.82,49098.0,7.50,500.0,30.0,178.0
3,2020-12-05 00:00:00,183.60,2559.0,20.45,9232.0,38.35,6693.0,6.50,14470.0,7.75,726.0,28.0,26.0
4,2020-11-05 00:00:00,184.60,7439.0,20.35,36741.0,37.95,18683.0,6.24,19650.0,7.39,6581.0,28.0,258.0

In [2]:
#drop the first unused row and reset the index
data = data.drop(data.index[[0]])
data = data.reset_index()
data = data.drop('index',1)
data.rename(columns={'Date':'date'},inplace=True)
data.head()

,date,krbl_close,krbl_volume,ltfoods_close,ltfoods_volume,chaman_close,chaman_volume,himalaya_close,himalaya_volume,kohi_close,kohi_volume,klrf_close,klrf_volume
0,14-05-2020,187.30,2063.0,21.00,21452.0,38.75,4141.0,7.16,64813.0,7.87,1439.0,28.80,604.0
1,13-05-2020,190.75,8936.0,21.05,37575.0,39.20,19714.0,6.82,49098.0,7.50,500.0,30.00,178.0
2,2020-12-05 00:00:00,183.60,2559.0,20.45,9232.0,38.35,6693.0,6.50,14470.0,7.75,726.0,28.00,26.0
3,2020-11-05 00:00:00,184.60,7439.0,20.35,36741.0,37.95,18683.0,6.24,19650.0,7.39,6581.0,28.00,258.0
4,2020-08-05 00:00:00,181.15,2988.0,20.20,17581.0,38.60,12429.0,6.33,21904.0,7.73,6299.0,29.95,964.0

In [3]:
#update the dataset till 26th May 2020
new_row = {'date':'2020-05-15','krbl_close':189.45,'ltfoods_close':21.20,
           'chaman_close':38.75, 'himalaya_close':7.45, 'kohi_close':8.10, 'klrf_close':28.8}
data = data.append(new_row,ignore_index=True)
new_row = {'date':'2020-05-18','krbl_close':183.55,'ltfoods_close':21.15,
           'chaman_close':38.80, 'himalaya_close':7.79, 'kohi_close':7.75, 'klrf_close':28.8}
data = data.append(new_row,ignore_index=True)
new_row = {'date':'2020-05-19','krbl_close':180.50,'ltfoods_close':20.55,
           'chaman_close':37.75, 'himalaya_close':8.17, 'kohi_close':7.90, 'klrf_close':29.5}
data = data.append(new_row,ignore_index=True)
new_row = {'date':'2020-05-20','krbl_close':181.95,'ltfoods_close':20.50,
           'chaman_close':38.50, 'himalaya_close':8.57, 'kohi_close':8.10, 'klrf_close':28}
data = data.append(new_row,ignore_index=True)
new_row = {'date':'2020-05-21','krbl_close':179.75,'ltfoods_close':20.80,
           'chaman_close':37.85, 'himalaya_close':8.99, 'kohi_close':7.98, 'klrf_close':29.45}
data = data.append(new_row,ignore_index=True)
new_row = {'date':'2020-05-22','krbl_close':178.80,'ltfoods_close':21.00,
           'chaman_close':38.85, 'himalaya_close':8.55, 'kohi_close':7.88, 'klrf_close':29.90}
data = data.append(new_row,ignore_index=True)
new_row = {'date':'2020-05-26','krbl_close':179.60,'ltfoods_close':22.00,
           'chaman_close':38.15, 'himalaya_close':8.13, 'kohi_close':8, 'klrf_close':29.90}
data = data.append(new_row,ignore_index=True)

In [4]:
data.fillna(0)

,date,krbl_close,krbl_volume,ltfoods_close,ltfoods_volume,chaman_close,chaman_volume,himalaya_close,himalaya_volume,kohi_close,kohi_volume,klrf_close,klrf_volume
0,14-05-2020,187.30,2063.0,21.00,21452.0,38.75,4141.0,7.16,64813.0,7.87,1439.0,28.80,604.0
1,13-05-2020,190.75,8936.0,21.05,37575.0,39.20,19714.0,6.82,49098.0,7.50,500.0,30.00,178.0
2,2020-12-05 00:00:00,183.60,2559.0,20.45,9232.0,38.35,6693.0,6.50,14470.0,7.75,726.0,28.00,26.0
3,2020-11-05 00:00:00,184.60,7439.0,20.35,36741.0,37.95,18683.0,6.24,19650.0,7.39,6581.0,28.00,258.0
4,2020-08-05 00:00:00,181.15,2988.0,20.20,17581.0,38.60,12429.0,6.33,21904.0,7.73,6299.0,29.95,964.0
5,2020-07-05 00:00:00,181.50,4072.0,20.75,8290.0,38.05,8044.0,6.34,93637.0,8.01,1975.0,29.00,195.0
6,2020-06-05 00:00:00,184.60,3621.0,21.00,28225.0,38.25,6794.0,6.61,17847.0,7.92,4507.0,26.50,81.0
7,2020-05-05 00:00:00,186.20,10607.0,21.20,17642.0,37.60,14580.0,6.66,42210.0,8.01,5359.0,27.00,709.0
8,2020-04-05 00:00:00,193.60,22138.0,22.05,124191.0,38.40,29425.0,6.74,26754.0,8.42,6124.0,27.55,67.0
9,30-04-2020,191.60,29941.0,21.85,19277.0,39.50,50177.0,6.83,90383.0,8.10,3840.0,29.50,200.0
10,29-04-2020,188.65,15067.0,22.15,18428.0,38.30,23528.0,7.11,35547.0,8.18,1714.0,29.40,290.0
11,28-04-2020,188.55,26154.0,22.00,37738.0,37.20,21274.0,7.38,31745.0,8.16,4953.0,29.90,22.0
12,27-04-2020,196.40,93067.0,20.90,27134.0,35.85,39417.0,7.13,73058.0,8.36,3923.0,29.45,606.0
13,24-04-2020,187.60,1530.0,21.90,22255.0,36.75,19061.0,6.99,13751.0,8.37,5773.0,30.00,515.0
14,23-04-2020,197.45,3792.0,22.45,14182.0,37.95,25583.0,7.03,25179.0,8.72,11385.0,32.00,761.0
15,22-04-2020,207.80,20935.0,22.30,29252.0,37.75,18648.0,7.04,45255.0,9.13,6620.0,32.45,1472.0
16,21-04-2020,218.70,55117.0,22.15,39087.0,38.20,16310.0,7.04,16377.0,9.61,37546.0,33.20,608.0
17,20-04-2020,229.70,75723.0,23.75,33393.0,38.60,25572.0,7.41,28049.0,10.10,17269.0,35.80,1604.0
18,17-04-2020,218.80,11913.0,23.90,60601.0,39.45,34288.0,7.79,82279.0,9.62,5401.0,36.75,1386.0
19,16-04-2020,208.40,58779.0,23.30,142061.0,40.05,31952.0,8.18,135355.0,9.17,14549.0,35.95,1317.0
20,15-04-2020,198.50,75283.0,22.35,62677.0,38.30,32938.0,7.81,122915.0,8.74,6480.0,32.85,1211.0
21,13-04-2020,191.05,124862.0,22.75,59200.0,39.50,17372.0,7.10,83631.0,8.33,4363.0,33.00,560.0
22,2020-09-04 00:00:00,182.10,11584.0,23.05,126755.0,41.55,55193.0,6.46,71494.0,7.94,1185.0,31.95,1803.0
23,2020-08-04 00:00:00,173.45,23246.0,21.75,51710.0,42.00,44391.0,5.90,32438.0,7.57,3221.0,33.15,2223.0
24,2020-07-04 00:00:00,165.20,30345.0,22.10,135176.0,41.60,9253.0,5.65,26716.0,7.21,8634.0,29.50,977.0
25,2020-03-04 00:00:00,157.35,83747.0,20.95,127775.0,39.65,10125.0,5.43,14870.0,6.87,8836.0,28.90,791.0
26,2020-01-04 00:00:00,149.90,15381.0,22.00,215209.0,37.80,25171.0,5.40,48593.0,6.55,955.0,29.85,2670.0
27,31-03-2020,136.30,14151.0,20.00,90321.0,34.40,25736.0,5.34,37999.0,6.24,1520.0,27.15,643.0
28,30-03-2020,123.95,25760.0,18.15,108767.0,32.40,24541.0,5.34,47901.0,5.95,3422.0,29.90,1611.0
29,27-03-2020,112.70,56242.0,16.75,43500.0,31.00,19098.0,5.12,22863.0,5.67,4147.0,26.00,2779.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,31-01-2020,264.20,11390.0,26.65,39092.0,49.15,10956.0,7.93,20357.0,8.65,284.0,38.00,1.0
69,30-01-2020,265.10,15967.0,26.85,55508.0,50.20,15979.0,7.96,13153.0,9.06,408.0,39.00,501.0
70,29-01-2020,275.15,41315.0,28.25,45138.0,52.10,25585.0,7.98,35391.0,9.05,3524.0,39.00,31.0
71,28-01-2020,297.00,65045.0,28.65,91527.0,54.60,19687.0,8.00,10546.0,9.19,3089.0,39.50,5.0
72,27-01-2020,279.50,7662.0,28.15,252560.0,55.45,19542.0,8.05,14775.0,9.30,651.0,39.10,127.0
73,24-01-2020,280.15,5848.0,28.55,59958.0,57.65,17452.0,8.08,18143.0,9.74,2827.0,39.20,651.0
74,23-01-2020,282.80,4098.0,28.50,58958.0,56.95,23415.0,8.09,9872.0,9.77,1201.0,37.30,211.0
75,22-01-2020,281.00,19432.0,28.85,277800.0,57.95,93389.0,7.92,24845.0,9.55,4246.0,38.70,396.0
76,21-01-2020,275.65,21081.0,27.90,229977.0,52.95,24579.0,7.78,46082.0,9.10,745.0,38.50,1050.0
77,20-01-2020,269.95,9407.0,26.65,99155.0,50.65,19547.0,8.15,15400.0,9.00,708.0,38.00,204.0
78,17-01-2020,272.65,10279.0,27.10,472455.0,49.45,9824.0,8.28,17081.0,9.09,2424.0,38.90,215.0
79,16-01-2020,271.65,19027.0,24.75,70986.0,48.40,12316.0,8.41,23864.0,9.05,3026.0,38.90,1187.0
80,15-01-2020,272.55,7912.0,24.45,63775.0,49.70,7994.0,8.15,191586.0,9.26,1737.0,37.00,47.0
81,14-01-2020,272.40,7793.0,24.35,60084.0,48.90,3777.0,8.22,129944.0,9.20,161.0,37.75,1320.0
82,13-01-2020,277.35,19445.0,24.35,54244.0,49.70,3578.0,7.83,18739.0,9.22,525.0,35.30,102.0
83,2020-10-01 00:00:00,272.00,5085.0,24.00,117121.0,49.50,11271.0,7.46,240399.0,9.03,3347.0,36.50,239.0
84,2020-09-01 00:00:00,273.40,25855.0,23.65,56584.0,49.15,27688.0,7.50,35917.0,9.40,2195.0,34.70,3924.0
85,2020-08-01 00:00:00,266.15,13235.0,24.00,317725.0,45.85,14032.0,7.47,16415.0,9.46,4473.0,32.80,750.0
86,2020-07-01 00:00:00,268.85,7183.0,22.80,22224.0,48.90,5518.0,7.34,44894.0,9.06,247.0,32.10,1682.0
87,2020-06-01 00:00:00,260.40,31596.0,22.65,52426.0,47.30,33522.0,7.07,52875.0,9.00,2039.0,33.80,2682.0
88,2020-03-01 00:00:00,288.90,5565.0,23.90,64588.0,51.35,15381.0,6.83,43571.0,9.02,3413.0,34.55,2651.0
89,2020-02-01 00:00:00,291.40,40887.0,23.95,103787.0,52.25,30508.0,6.59,37262.0,9.26,3021.0,32.50,1343.0
90,2020-01-01 00:00:00,283.45,7326.0,22.75,15281.0,47.50,19334.0,6.43,112150.0,9.20,251.0,33.00,1765.0
91,2020-05-15,189.45,0.0,21.20,0.0,38.75,0.0,7.45,0.0,8.10,0.0,28.80,0.0
92,2020-05-18,183.55,0.0,21.15,0.0,38.80,0.0,7.79,0.0,7.75,0.0,28.80,0.0
93,2020-05-19,180.50,0.0,20.55,0.0,37.75,0.0,8.17,0.0,7.90,0.0,29.50,0.0
94,2020-05-20,181.95,0.0,20.50,0.0,38.50,0.0,8.57,0.0,8.10,0.0,28.00,0.0
95,2020-05-21,179.75,0.0,20.80,0.0,37.85,0.0,8.99,0.0,7.98,0.0,29.45,0.0
96,2020-05-22,178.80,0.0,21.00,0.0,38.85,0.0,8.55,0.0,7.88,0.0,29.90,0.0
97,2020-05-26,179.60,0.0,22.00,0.0,38.15,0.0,8.13,0.0,8.00,0.0,29.90,0.0

In [5]:
data.dtypes

date                object
krbl_close         float64
krbl_volume        float64
ltfoods_close      float64
ltfoods_volume     float64
chaman_close       float64
chaman_volume      float64
himalaya_close     float64
himalaya_volume    float64
kohi_close         float64
kohi_volume        float64
klrf_close         float64
klrf_volume        float64
dtype: object

In [6]:
#change the date to required format step 1
data['date'] = data['date'].astype('datetime64[ns]')
data['date'] = data['date'].dt.strftime('%d-%m-%Y')
data['date'].unique()

array(['14-05-2020', '13-05-2020', '05-12-2020', '05-11-2020',
       '05-08-2020', '05-07-2020', '05-06-2020', '05-05-2020',
       '05-04-2020', '30-04-2020', '29-04-2020', '28-04-2020',
       '27-04-2020', '24-04-2020', '23-04-2020', '22-04-2020',
       '21-04-2020', '20-04-2020', '17-04-2020', '16-04-2020',
       '15-04-2020', '13-04-2020', '04-09-2020', '04-08-2020',
       '04-07-2020', '04-03-2020', '04-01-2020', '31-03-2020',
       '30-03-2020', '27-03-2020', '26-03-2020', '25-03-2020',
       '24-03-2020', '23-03-2020', '20-03-2020', '19-03-2020',
       '18-03-2020', '17-03-2020', '16-03-2020', '13-03-2020',
       '03-12-2020', '03-11-2020', '03-09-2020', '03-06-2020',
       '03-05-2020', '03-04-2020', '03-03-2020', '03-02-2020',
       '28-02-2020', '27-02-2020', '26-02-2020', '25-02-2020',
       '24-02-2020', '20-02-2020', '19-02-2020', '18-02-2020',
       '17-02-2020', '14-02-2020', '13-02-2020', '02-12-2020',
       '02-11-2020', '02-10-2020', '02-07-2020', '02-06-2020',
       '02-05-2020', '02-04-2020', '02-03-2020', '02-01-2020',
       '31-01-2020', '30-01-2020', '29-01-2020', '28-01-2020',
       '27-01-2020', '24-01-2020', '23-01-2020', '22-01-2020',
       '21-01-2020', '20-01-2020', '17-01-2020', '16-01-2020',
       '15-01-2020', '14-01-2020', '13-01-2020', '01-10-2020',
       '01-09-2020', '01-08-2020', '01-07-2020', '01-06-2020',
       '01-03-2020', '01-02-2020', '01-01-2020', '15-05-2020',
       '18-05-2020', '19-05-2020', '20-05-2020', '21-05-2020',
       '22-05-2020', '26-05-2020'], dtype=object)

In [7]:
#change the date to required format step 2
data['date'] = data['date'].astype('datetime64[ns]')
data['date'] = data['date'].dt.strftime('%Y-%m-%d')
data['date'].unique()

array(['2020-05-14', '2020-05-13', '2020-05-12', '2020-05-11',
       '2020-05-08', '2020-05-07', '2020-05-06', '2020-05-05',
       '2020-05-04', '2020-04-30', '2020-04-29', '2020-04-28',
       '2020-04-27', '2020-04-24', '2020-04-23', '2020-04-22',
       '2020-04-21', '2020-04-20', '2020-04-17', '2020-04-16',
       '2020-04-15', '2020-04-13', '2020-04-09', '2020-04-08',
       '2020-04-07', '2020-04-03', '2020-04-01', '2020-03-31',
       '2020-03-30', '2020-03-27', '2020-03-26', '2020-03-25',
       '2020-03-24', '2020-03-23', '2020-03-20', '2020-03-19',
       '2020-03-18', '2020-03-17', '2020-03-16', '2020-03-13',
       '2020-03-12', '2020-03-11', '2020-03-09', '2020-03-06',
       '2020-03-05', '2020-03-04', '2020-03-03', '2020-03-02',
       '2020-02-28', '2020-02-27', '2020-02-26', '2020-02-25',
       '2020-02-24', '2020-02-20', '2020-02-19', '2020-02-18',
       '2020-02-17', '2020-02-14', '2020-02-13', '2020-02-12',
       '2020-02-11', '2020-02-10', '2020-02-07', '2020-02-06',
       '2020-02-05', '2020-02-04', '2020-02-03', '2020-02-01',
       '2020-01-31', '2020-01-30', '2020-01-29', '2020-01-28',
       '2020-01-27', '2020-01-24', '2020-01-23', '2020-01-22',
       '2020-01-21', '2020-01-20', '2020-01-17', '2020-01-16',
       '2020-01-15', '2020-01-14', '2020-01-13', '2020-01-10',
       '2020-01-09', '2020-01-08', '2020-01-07', '2020-01-06',
       '2020-01-03', '2020-01-02', '2020-01-01', '2020-05-15',
       '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21',
       '2020-05-22', '2020-05-26'], dtype=object)

In [8]:
data.columns

Index(['date', 'krbl_close', 'krbl_volume', 'ltfoods_close', 'ltfoods_volume',
       'chaman_close', 'chaman_volume', 'himalaya_close', 'himalaya_volume',
       'kohi_close', 'kohi_volume', 'klrf_close', 'klrf_volume'],
      dtype='object')

In [9]:
#calculating the index
data['initial_calc_index'] = (((data['krbl_close'])*(data['krbl_volume'])+(data['ltfoods_close'])*(data['ltfoods_volume'])
                       +(data['chaman_close'])*(data['chaman_volume'])+(data['himalaya_close'])*(data['himalaya_volume'])
                       +(data['kohi_close'])*(data['kohi_volume'])+(data['klrf_close'])*(data['klrf_volume']))
                      /(data['krbl_volume']+data['ltfoods_volume']+data['chaman_volume']
                        +data['himalaya_volume']+data['kohi_volume']+data['klrf_volume']))
data['initial_calc_index'] = data['initial_calc_index'].round(2)
data['calc_index'] = (((data['krbl_close'])*(235.39)+(data['ltfoods_close'])*(319.845)
                       +(data['chaman_close'])*(51.734)+(data['himalaya_close'])*(57.843)
                       +(data['kohi_close'])*(35.242)+(data['klrf_close'])*(5.541))
                      /(235.39+319.845+51.734+57.843+35.242+5.541))
data['calc_index'] = data['calc_index'].round(2)
data.head()

,date,krbl_close,krbl_volume,ltfoods_close,ltfoods_volume,chaman_close,chaman_volume,himalaya_close,himalaya_volume,kohi_close,kohi_volume,klrf_close,klrf_volume,initial_calc_index,calc_index
0,2020-05-14,187.30,2063.0,21.00,21452.0,38.75,4141.0,7.16,64813.0,7.87,1439.0,28.80,604.0,15.77,76.05
1,2020-05-13,190.75,8936.0,21.05,37575.0,39.20,19714.0,6.82,49098.0,7.50,500.0,30.00,178.0,31.14,77.22
2,2020-05-12,183.60,2559.0,20.45,9232.0,38.35,6693.0,6.50,14470.0,7.75,726.0,28.00,26.0,30.13,74.47
3,2020-05-11,184.60,7439.0,20.35,36741.0,37.95,18683.0,6.24,19650.0,7.39,6581.0,28.00,258.0,33.67,74.69
4,2020-05-08,181.15,2988.0,20.20,17581.0,38.60,12429.0,6.33,21904.0,7.73,6299.0,29.95,964.0,25.62,73.56

In [10]:
#save the file in csv format
data.to_csv('ind_food_final.csv')

In [11]:
data.tail(7)

,date,krbl_close,krbl_volume,ltfoods_close,ltfoods_volume,chaman_close,chaman_volume,himalaya_close,himalaya_volume,kohi_close,kohi_volume,klrf_close,klrf_volume,initial_calc_index,calc_index
91,2020-05-15,189.45,NaN,21.20,NaN,38.75,NaN,7.45,NaN,8.10,NaN,28.80,NaN,NaN,76.89
92,2020-05-18,183.55,NaN,21.15,NaN,38.80,NaN,7.79,NaN,7.75,NaN,28.80,NaN,NaN,74.92
93,2020-05-19,180.50,NaN,20.55,NaN,37.75,NaN,8.17,NaN,7.90,NaN,29.50,NaN,NaN,73.59
94,2020-05-20,181.95,NaN,20.50,NaN,38.50,NaN,8.57,NaN,8.10,NaN,28.00,NaN,NaN,74.14
95,2020-05-21,179.75,NaN,20.80,NaN,37.85,NaN,8.99,NaN,7.98,NaN,29.45,NaN,NaN,73.54
96,2020-05-22,178.80,NaN,21.00,NaN,38.85,NaN,8.55,NaN,7.88,NaN,29.90,NaN,NaN,73.35
97,2020-05-26,179.60,NaN,22.00,NaN,38.15,NaN,8.13,NaN,8.00,NaN,29.90,NaN,NaN,73.99